@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
          font-family: 'TeX Gyre Chorus';
          font-style: italic;
          font-weight: 500;
          src: local('TeX Gyre Chorus'), url('https://fonts.cdnfonts.com/s/52832/texgyrechorus-mediumitalic.woff') format('woff');
        }
@import url('https://fonts.cdnfonts.com/css/love-light');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

.texture-section {
    color: rgb(0, 0, 0);
    margin-top: 40px;
    text-align: justify;
    padding: 10px;
    width: 990px;
    max-width: 90%;
    border: 2px solid rgba(28, 26, 26, 0.7);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: absolute;
    margin-bottom: 10px;
    margin-left: 10px;
}

.texture-section h2 {
    font-family: 'TeX Gyre Chorus', cursive;                                        
    color: rgb(221, 6, 6);
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.texture-section p {
    font-family: 'TeX Gyre Chorus', cursive;
    font-size: 33px;
    line-height: 1.6;
    color: #fff;
    padding: 10px;
    font-weight: bold; /* Make the text bold */

}

.texture-section h3 {
    font-family: 'TeX Gyre Chorus', cursive;                                              
    color: rgb(93, 76, 72);
    text-align: right;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(2.jpg)no-repeat;
    background-size: cover;
    background-position: center;

    }

.logo{
        font-family: 'TeX Gyre Chorus', cursive;
        font-size: 4em;
        color: #ffffff;
        user-select: none;
    }
    

