        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            display: flex;
            gap: 40px;
        }
        .card {
            width: 180px;
            height: 220px;
            background: #fff;
            border-radius: 20px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: #333;
            position: relative;
            transition: box-shadow 0.3s ease, transform 0.3s ease;
        }
        .card:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
        }
        .icon {
            font-size: 60px;
            color: #0056b3;
            margin-bottom: 15px;
        }
        .title {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            text-transform: capitalize;
        }

        .text-section {
            margin-top: 20px; /* Space below the logo and logout button */
            padding: 10px;
            width: 90%; /* Adapt to smaller screens */
            max-width: 600px; /* Limit maximum width */
            border: 2px solid rgba(28, 26, 26, 0.7);
            background-color: rgba(0, 0, 0, 0.3);
            color: white;
            text-align: center;
            font-family: 'TeX Gyre Chorus', cursive;
            font-size: 40px;
            border-radius: 8px;
            margin-left: auto;
            margin-right: auto; /* Center the section */
            margin: 20px auto; /* Center the section */

        }

